.addUser 
  h1 
    text-align: center
    font-size: 40px
    text-transform: uppercase
    margin: 20px 0
  form 
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    font-size: 30px
    line-height: 30px
    width: 50%
    margin: 0 auto
  label 
    width: 60%
    margin: 5px 0
  input 
    line-height: 30px
    font-size: 20px
    border-radius: 5px
    width: 50%
    float: right

