table.team
  tbody
    tr
      td
        input
          line-height: 18px
          border: none
          background: transparent
          text-align: center
          border-left: 1px solid black
          width: 100%
  
  
  