aside 
  width: 250px
  display: flex
  justify-content: space-between
  background-color: #ddd
  transition: .5s 

  .navigation
    width: 15px
    height: 100vh
    margin-right: 5px
    
    i
      height: 15px
      transform: translateY(50vh)
  
  &.hide
    width: 20px

    nav
      display: none

  nav 
    width: 100%

    ul 
      li 
        list-style: none
        padding: 20px 20px 0 20px
        font-weight: bold
        text-align: center

        a 
          color: black
          font-size: 18px
          text-decoration: none
          cursor: pointer
          transition: .2s

          &.active
            border-bottom: 2px solid black
      
      & ul
        li
          font-weight: normal
          padding: 5px 40px


