.schedule
  border: 2px solid black
  width: 100%
  thead
    width: 100%
    tr
      th
        width: 14%
  tbody
    tr.userColumn
      td
        width: 7%
    tr
      td
        text-align: center
        border: 1px solid black