.schedule
  .table
    display: flex
    flex-wrap: wrap
    width: 100%
    margin-bottom: 30px
    justify-content: space-around
    border: 1px solid black
  
    .day
      min-width: 200px
      text-align: center
      
      .Multitude1, .Multitude2
        width: 50%
        display: inline-block
        
        input
          width: 95%
          font-size: 16px
          background-color: transparent
          border: none
          border-bottom: 1px solid black
      
      p
        border: 1px solid black
    
    .underTable
      width: 100%
      padding: 5px
      p
        padding: 5px 0
      
      div
        padding: 2px

        div
          display: none
          &.show
            display: inline-block

        ul
          li
            display: inline-block
            padding: 3px
            margin-bottom: 0px

  button.hide
    display: none
  
  ul
    list-style: none
    
    li
      margin-bottom: 30px
      max-width: 100%
      
      a
        color: black
  h1
    text-align: center
    width: 100%
    margin: 20px auto

    input
      background-color: #bbb
      border: none
      border-bottom: 1px solid black
      margin: 0 10px
      font-size: 16px
      cursor: pointer

  .Multitude1, .Multitude2
    p:last-child
      font-weight: bold