.taskDetails
  h1
    text-align: center
    margin: 10vh
    font-size: 40px
  .details
    position: relative
    border: 1px solid grey
    width: 60%
    margin: 0 auto
    padding: 40px
    text-align: center
    .options
      position: absolute
      right: 0
      top: -35px
      font-size: 30px
      i
        padding: 0 10px
    p
      margin: 20px 0