.team
  .addUser

    form
      display: flex
      flex-wrap: wrap
      margin: 10px auto
      padding: 10px 50px
      width: 50%
      border: 1px solid black
      border-radius: 15px
      
      label
        width: 50%
        margin: 15px auto
        padding: 0px 20px

        & select
          width: 100%
          height: 30px
          font-size: 16px

        input
          width: 100%
          height: 30px
          font-size: 16px
          border-radius: 5px
    
  .table
    width: 80%
    margin: 10px auto
    border: 2px solid black

    .head
      width: 100%
      padding: 10px
      border-bottom: 2px solid black
    
      span
        display: inline-block
        width: 25%
        text-align: center

    .users
      padding: 10px

      .user
        display: flex
        justify-content: space-around
        padding: 3px
        border-bottom: 1px solid black

        span
          width: 25%
          text-align: center      
        
        &:last-child
          border-bottom: 0
