.table
  width: 70%
  margin: 10px auto
  border: 1px solid black

  .head
    display: flex
    border-bottom: 1px solid black
    
    span
      width: 14%
      text-align: center
      padding: 5px
    
  .body
    display: flex
    flex-wrap: wrap
    width: 100%

    ul
      list-style: none

      &.groups
        width: 100%

        .show
          display: flex
          width: 100%
          justify-content: space-around

          li
            width: 14%
            text-align: center
            input
              width: 100%
              background-color: transparent
              border: none
              border-bottom: 1px solid black
              text-align: center
              line-height: 20px
        
        .hide
          display: none
            
        .group
          display: flex
          width: 100%
          padding: 5px
          border-bottom: 1px solid black
        
        li
          width: 14%
          text-align: center

      