.train
  position: relative
  .edit
    position: absolute
    right: 5%
    font-size: 24px

  .table
    width: 90%
    margin: 0 auto
    border: 1px solid grey
    .head
      border-bottom: 1px solid grey
      li
        font-size: 20px

    ul
      list-style: none
      display: flex
      justify-content: space-around
      li
        width: 100%
        text-align: center
        padding: 10px
    .body
      .groupRow
        border-bottom: 1px solid grey
        li
          font-weight: bold
          &:nth-of-type(2), &:nth-of-type(5)
            color: red
          &:nth-of-type(4), &:nth-of-type(7)
            color: green