table {
  width: 100%;
}
table thead tr {
  line-height: 30px;
}

table tbody {
  text-align: center;
}

table tbody tr {
  line-height: 30px;
}

table tbody tr:nth-of-type(even) {
  background-color: #ccc;
}
